@font-face {
  font-family: Montserrat-Bold;
  src: url("fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url("fonts/Montserrat-Regular.ttf");
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat-Bold", cursive;
}

h1 {
  font-size: 60px;
  line-height: 1;
  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

p {
  font-family: "Montserrat-Regular", cursive;
}
