// Theme colours
:root {
  --black: #000000;
  --white: #ffffff;
  --blue: #0504aa;
}

body {
  margin: 0;
  background: var(--white);
  color: var(--black);
}

hr {
  max-width: 1350px;
  margin: 30px auto;
  width: 100%;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 25px;
}

article {
  margin-top: 50px;
  a {
    padding-bottom: 50px;
  }
}

#content {
  min-height: 80vh;
}

// 404 Page
.error404 {
  .not-found {
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-bottom: 120px;
    .entry-title {
      @media screen and (min-width: 768px) {
        font-size: 200px;
      }
    }
    .home-btn {
      color: var(--black);
      background: var(--white);
      padding: 15px;
    }
    .entry-content p {
      padding-bottom: 25px;
    }
  }
}

// Button
.home-btn,
.button-div .button {
  padding: 15px 20px;
  margin-top: 50px;
  border-radius: 30px;
}

.order-btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--blue);
  padding: 7px 20px;
  border-radius: 20px;
  color: var(--white);
  font-family: "Montserrat-Regular", cursive;
  cursor: pointer;
  font-size: 14px;
}

.page-template-order {
  .text {
    h1 {
      font-size: 60px;
      display: block;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      max-width: unset;
      font-family: "Montserrat-Regular", cursive;
      padding: 50px 0 20px;
    }
    p {
      text-align: center;
      padding: 0 0 50px;
    }
  }
  .form {
    max-width: 400px;
    margin: 0 auto;
  }
  label,
  input {
    width: 100%;
  }
  .action-button {
    width: 100%;
    background-color: var(--blue);
  }
}

#project {
  background-color: var(--blue);
  color: var(--white);
  padding: 50px 0;
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  h2 {
    font-family: "Montserrat-Regular", cursive;
  }
  .content {
    width: 100%;
    display: flex;
  }
  .text-div {
    width: 80%;
  }
  .button-div {
    width: 20%;
    display: flex;
    align-items: center;

    .order-btn {
      background-color: var(--white);
      color: var(--blue);
    }
  }
  p {
    font-family: "Montserrat-Light", cursive;
  }
}
