#half-block {
  .container {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }

    .wpcf7-text {
      height: 50px;
      margin: 10px 0;
      padding: 0 20px;
      border-radius: 30px;
      width: 100%;
    }
    .wpcf7-submit {
      background: var(--black);
      color: var(--white);
      border: none;
      border-radius: 40px;
      padding: 13px 50px;
    }

    .wpcf7-not-valid-tip {
      position: absolute;
      bottom: -38px;
      font-size: 14px;
    }

    form {
      margin-top: 50px;
      position: relative;
      z-index: 1;
    }

    .lottie {
      animation-name: floating;
      animation-duration: 9s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      margin-left: 30px;
      margin-top: 5px;

      img {
        position: absolute;
        bottom: 50px;
      }
      @media screen and (min-width: 768px) {
        img {
          position: unset;
          min-width: 600px;
          object-fit: cover;
          height: 100%;
        }
      }
    }

    @keyframes floating {
      from {
        transform: translate(0, 0px);
      }
      65% {
        transform: translate(-20px, 80px);
      }
      to {
        transform: translate(0, -0px);
      }
    }
  }
}
